################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/icue2mqtt/v16/Server/sqlite3
/icue2mqtt/obj
/IcueHelper/obj
/.vs/icue2mqtt
/icue2mqtt/bin/Debug/netcoreapp3.1
/IcueHelper/bin/Debug/netstandard2.1
